body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

.container {
    max-width: 700px;
    margin: auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2,
h3 {
    color: #333;
}

details {
    margin-bottom: 10px;
}

#heading{
    text-align: center;
    font-size: 21px;
    background: linear-gradient(#0066ff, #cc66ff);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}

summary {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    padding: 15px;
    background: #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

summary button {
    margin-left: 10px;
    font-size: 14px;
    padding: 3px 8px;
    background-color: #0066ff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

summary button:hover {
    background-color: #005bb5;
}

summary::before {
    content: '\25B6'; /* Right arrow */
    margin-right: 10px;
    transition: transform 0.2s ease;
}

details[open] summary::before {
    content: '\25BC'; /* Down arrow */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 5px 0;
}

a {
    text-decoration: none;
    color: #0073e6;
}

a:hover {
    text-decoration: underline;
}

#btn{
    padding: 10px;
    box-shadow: 4px 4px 2px black;
}

#btn:hover{
    background-color: #80b3ff;
    transition: 0.8s;
    box-shadow: none;
}

.social-links{
    text-align: center;
    margin-right: 52px;
}